__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore local environment files
.env
gdsc-here.json

*.iml
.gradle
.idea
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
build
captures
.externalNativeBuild
.cxx
local.properties
